//Colors

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;

$color-whitesmoke: #f5f5f5;
$color-blue-dark: #000f44;
$color-blue-light: #0011ff;

//Font
$default-font-size: 1.6rem;
$font-cursive: 'Montez', cursive;
$default-font: 'Noto Sans', sans-serif;

$headingfont-large: 10rem;
$headingfont-medium: 8rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;