.heading-primary {
    font-family: $font-cursive;
    font-size: $headingfont-large;
}

.heading-secondary {
    font-family: $font-cursive;
    font-size: $headingfont-medium;
}

.paragraph {
    font-size: $default-font-size;
    text-shadow: $color-black 1px 1px;
}