.section-intro {
    color: $color-whitesmoke;
}

.section-history {
    background-image: url(../img/background-inverted.jpg);
    background-size: cover;
}

.section-lands {
    color: $color-whitesmoke;
    background-color: rgba($color-blue-dark, 0.4);
}